body{
  margin: 10px;
}
span {
  margin: 0 10px 0 0;
}
.descArea{
  padding:10px;
  background-color: lightgray;
  border: black 1px solid;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}